body {
	background-color: #F7F7F7;
}

.theme-color {
	background-color: #FF3094;
}

.nav-header {
	color: #8D8D8D;
}

.title-font {
	font-family: 'Raleway', sans-serif;
}

.user {
	position: absolute;
	right: 5px;
	top: 10px;
	font-size: 17px;
}

.description {
	margin-top: 20px;
}

.event-container {
	border-style: solid;
	position: relative;
	font-family: 'Questrial', sans-serif;
	padding: 5px;
	background-image: url("");
}

.center {
	margin: auto;
	padding: 10px;
	width: 90%;
	max-width: 810px;
}

.banner {
	background-color: #CECECE;
	height: 100vw;
}

/*create*/

.create-event {
	width: 90%;
}

.submit-button {
	margin-left: 50px;
	margin-bottom: 100px;
}

/*information*/

.description-field {
	width: 90%;
}

.location-map {
	height: 300px;
	width: 100vw;
}