body {
	background-color: #F7F7F7;
}

.header-logo {
	padding: 10px;
	margin: auto;
	display: block;
	width: 50%;
	max-width: 350px;
	min-width: 230px;
}

.theme-color {
	background-color: #32B3E4;
}

.nav-header {
	color: #8D8D8D;
}

.title-font {
	font-family: 'Raleway', sans-serif;
}

.user {
	text-align: right;;
	padding-right: 5px;
	font-size: 17px;
}

.description {
	margin-top: 20px;
}

.event-container {
	border-style: solid;
	position: relative;
	font-family: 'Questrial', sans-serif;
	padding: 5px;
	background-image: url("");
}

.center {
	margin: auto;
	padding: 10px;
	width: 90%;
	max-width: 810px;
}

.banner {
	background-color: #CECECE;
	height: 100vw;
}

.side-bar-option {
	max-width: 100%;
}

.submit-button {
	position: relative;
	margin: -20px -50px;
	top: 10px;
	left:50%;
}

/*create*/

.create-event {
	width: 90%;
}

/*information*/

.description-field {
	width: 90%;
}

.location-map {
	height: 300px;
	width: 100vw;
}

.side-bar {
	border: 1px solid black;
	min-height: 50vw;
	height: auto;
}

@media only screen and (max-width: 570px) {
	.side-bar {
		display: none;
	}
}

.hidden {
	display: none;
}

.rev {
	height: 500px;
	width: 100%;
	background-color: grey;
}

.center-title {
	text-align: center;
	vertical-align: center;
}

.visible {
	display: block;
}

.padding {
	margin-bottom: 20px;
}
