.header-logo {
	padding: 10px;
	margin: auto;
	display: block;
	width: 40%;
	max-width: 300px;
	min-width: 230px;
	padding-bottom: 50px;
}

.nav-logo {
	position: absolute;
	left: 10px;
	top: 1px;
	max-height: 43px;
}

.nav-tab {
	padding-left: 130px;
	text-align: right;
}

.nav-font {
	color: black;
}

.bottom-border {
	border-bottom: 2px solid #D4D4D4;
}

.navbar-color {
	background-color: #ffffff;
}

.nav-header {
	color: #000000;
}

.title-font {
	font-family: 'Raleway', sans-serif;
}

.user {
	text-align: right;;
	padding-right: 5px;
	font-size: 17px;
}

.description {
	margin-top: 20px;
}

.event-container {
	border: 2px solid black;
	position: relative;
	font-family: 'Questrial', sans-serif;
	padding: 5px;
	background-image: url("");
	margin-bottom: 10px;
}

.center {
	margin: auto;
	padding: 10px;
	width: 90%;
	max-width: 810px;
}

.center-block {
	margin: 0px auto;
	margin-bottom: 10px;
}

.banner {
	background-color: #CECECE;
	height: 100vw;
}

.side-bar-option {
	max-width: 100%;
}

/*event*/

.background-img-container {
	width: 90%;
	height: 30vw;
	max-height: 200px;
	display: block;
	margin: 0px auto;
	overflow: hidden;
}
.event-img {
	width: 100%;
	min-height: 100%;
}

.custom-container {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	position: relative;
}

.apply-btn {
	position: absolute;
	top: 10px;
	right: 0px;
	background-color: #46C1EC;
	border: none;

}

.location-map {
	height: 300px;
	width: 100vw;
}

/*create*/

.create-event {
	width: 90%;
}

/*information*/

.side-bar {
	border: 1px solid black;
	min-height: 50vw;
	height: 100vh;
	margin-bottom: 100px;
}

@media only screen and (max-width: 570px) {
	.side-bar {
		display: none;
	}
}

.hidden {
	display: none;
}

.rev {
	margin-top: 50px;
	height: 500px;
	width: 100%;
	max-width: 300px;
	background-color: #72767c;
}

.center-title {
	text-align: center;
	vertical-align: center;
}

.visible {
	display: block;
}

.padding {
	margin-bottom: 20px;
}

ul {
	padding-left: 4px;
}